* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../CSS/game_of_thrones_indexBG.jpg") ;
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
}

.emojie-welcome {
    font-size: 60px !important;
}
#WelcomePage {
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    text-align: center;
    margin: 75px auto;
    /* background: rgb(94, 85, 85); */
    color: antiquewhite;
}
#WelcomePage p {
    font-size: 25px;
}
#WelcomePage span{
    font-size: 35px;
}

.smr-guy {
    color: rgb(155, 21, 21);
    font-weight: 700;
}
#btn_start {
    text-align: center;
    cursor: pointer;
}

#btn_start  h1{
    background-color: rgb(78, 72, 72);
    display: inline;
    font-size: 25px;
    border-radius: 40px;
    padding: 10px;
}
h1 a {
    text-decoration: none;
    color: rgb(60, 255, 0);
}

/*****************************************************************/

